#backToHomeLink img {
    width: 50px;
    position: absolute;
    left: 1%;
    bottom: 0.5%;
    border: solid 3px cyan;
    border-radius: 70px;
    padding: 0 8px;
    background-color: rgba(107, 255, 255, 0.7);
}