/*Author: Seb Grossett
Date: Sept 26, 2023

This is a website for Acme Restaurant who specialize in Sushi.*/

a#navicon {
    display: none;
}

/*Mobile device styles*/
@media only screen and (max-width: 480px){
    /* Body styles */
    html {
        background: radial-gradient(rgb(44, 174, 183), rgb(1, 70, 109));
      }
    
    body header {
        background-image: url(backgroundImage.jpg);
        background-repeat: round;
      }
    
    body header h1 {
        font-size: 2.3em;
        background-color: black;
        opacity: 0.8;
        color: white;
        margin-right: 15%;
        margin-left: 15%;
        outline-color: rgb(221, 78, 39);
    }

    body header h3 {
        opacity: 0;
        font-size: 1.3em;
    }

    body #section_homepage article {
    outline-style: none;
    }

    #section_homepage img {
        display:none;
      }
    
    #history img {
        display: none;
      }
    
    body {
        background: radial-gradient(rgb(25, 192, 25), rgba(23, 137, 114, 0.754));
    }

    body section {
        margin: 3%;
        text-align: center;
    }

    article {
        border-radius: 20px;
        padding: 16px;
        border-color: rgb(221, 78, 39);
        border-style: solid;
    }

    article h3 {
        margin-top: 0;
    }

    body footer, footer > p {
        background:linear-gradient(rgba(23, 137, 114, 0.75), rgb(7, 98, 114));
        color: rgb(223, 222, 222);
        border-top-style: solid;
        border-bottom-style: solid;
        border-color: rgb(221, 78, 39);
    }

    body footer p {
        outline: none;
        border-color: rgb(221, 78, 39);
        border-style: solid;
    }

    /* Menu Styles */
    #section_menu {
        display: block;
    }

    #section_menu #menup2, #menup1 {
        display: none;
    }

    #section_menu #menuc2 :nth-child(3), #menuc2 :nth-child(4), #menuc2 :nth-child(5), #menuc2 :nth-child(6) {
        display: none;
    }

    body #section_menu ul {
        list-style: none;
        text-align: center;
        padding: 0;
    }

    /* Navigation menu styles */
    a#navicon {
        display: block;
        text-align: right;
        outline-style: solid;
        outline-color: rgb(221, 78, 39);
        color: rgb(0, 0, 0);
        background:linear-gradient(rgba(23, 137, 114, 0.75), rgb(7, 98, 114));
    }

    nav ul {
        display:none;
    }

    a#navicon:hover+ul, nav ul:hover{
        display: grid;
        text-align: center;
        padding-left: 0px;
        font-size: larger;
    }

    nav ul li, :visited {
        outline-style: solid;
        outline-color: rgb(221, 78, 39);
        color: rgb(0, 0, 0);
        background-color: antiquewhite;
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        list-style: none;
    }

    /* Contact Styles */
    #contact_header #contact_info a {
        outline: solid rgb(221, 78, 39);
        border-radius: 20px;
        padding: 5px;
        text-decoration: none;
        color: black;
        background-color: rgb(250, 192, 176);
       }

}

/* Tablet and desktop styles*/
@media only screen and (min-width: 481px){
    /* HTML & Base styles */
    html {
    background-color: #000000;
    }

    body {
        color: rgb(0, 0, 0);
        background-color: maroon;
        font-family: 'Playball', cursive;
        font-size: 1.45em;
        font-weight: lighter;
    }

    article {
        outline-style: inset;
    }

    /* Persistent Nav Links Styles */
    nav {
        font-size: 1.45em;
        text-align: center;
        font-family: 'Playball', cursive;
        display: grid;
        
    }

    nav ul li, :visited {
        outline-style: solid;
        outline-color: rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        background-color: antiquewhite;
        
    }

}

/* Body Styles */

header {
    background-color: rgb(0, 0, 0);
    padding: 16px;
    text-align: center;
}

header h1 {
    background-color: black;
    font-size: 3em;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    font-family: 'Playfair Display', serif;
    color: white;
    outline-style: groove;
    margin-right: 35%;
    margin-left: 35%;
    outline-color: maroon;
}

header h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    color: rgb(255, 255, 255);
}

footer {
    text-align: center;
    padding: 8px;
    margin-top: 12px;
    font-family: serif;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    background-color: black;
}

footer p {
    outline-style: groove;
    outline-color: maroon;
    margin-right: 16px;
    margin-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Article Styles */
article {
    background-color: antiquewhite;
}

/* Home Styles */

#ordering #u_link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(23, 172, 58);
    padding: 8px;
}

#ordering #d_link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(229, 61, 15);
    padding: 8px;
}

/* About Styles */
#history {
    text-align: center;
}

/* Contact Styles */
#contact_info, #contact_social, #link_msg, #contact_header {
    list-style-type: none;
    text-align: center;
}
